* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

:root {
  --Verdeprincipal: #06aa48;
  --Verdemaisclaro: #08d45a;
  --Textodaslegendas: #555;
  --Textodocabeçalho: #ffffff;
  --roxo: #08081d;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

.logoText {
  font-size: 5vh;
  color: white;
  margin-left: 2vh;
}
.logo {
  width: 30px;
  display: flex;
  justify-content: left;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--roxo);
  height: 8vh;
  border-bottom: solid 1px whitesmoke;
}
.navList {
  list-style: none;
  display: flex;
}
.navList li {
  letter-spacing: 3px;
  margin-right: 60px;
  cursor: pointer;
  background-color: rgba(149, 11, 247, 0.555);
  border-radius: 10px;
  padding: 8px;
}

main {
  background-size: cover;
  height: 90vh;
  color: white;
  padding: auto auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  letter-spacing: 3px;
  padding-left: 15vh;
  padding-right: 15vh;
  width: auto auto;
}

article {
  width: 320px;
  height: 400px;
  border: solid 1px whitesmoke;
  margin: 1rem;
}

.legenda {
  color: var(--Textodaslegendas);
  font-size: 12px;
  text-align: center;
}

.tituloPoster {
  color: var(--Verdeprincipal);
}
p {
  color: var(--Textodaslegendas);
}

#Grad {
  height: 200vh;
  background-color: var(--roxo);
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(43, 6, 69));
}

.fotosPicture,
img {
  width: 317px;
  height: 200px;
}
