* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --Verdeprincipal: #06aa48;
  --Verdemaisclaro: #08d45a;
  --Textodaslegendas: #555;
  --Textodocabeçalho: #ffffff;
}

.logoText {
  /*TITULO NA NAV*/
  font-size: 5vh;
  color: white;
  margin-left: 2vh;
}

nav {
  /*NAV BAR*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #08081d;
  height: 10vh;
  border-bottom: solid 1px whitesmoke;
}
a {
  /* NAV BAR*/
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  /* NAV BAR DETALHES*/
  opacity: 0.7;
}

.navList {
  list-style: none;
  display: flex;
}

.navList li {
  letter-spacing: 3px;
  margin-right: 60px;
  cursor: pointer;
  padding: 8px;
}

main {
  /*PARTE PRINCIPAL DO SITE*/
  background: #000000;
  background: linear-gradient(
    113deg,
    #000000fb 3%,
    #0e0040 17%,
    #420738 19%,
    #0e0040fb 28%,
    #000000fb 92%
  );
}

section {
  /*PARTE PRINCIPAL NA MAIN*/
  padding: 5px 200px 5px 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
figure {
  width: auto auto;
  height: auto auto;
}
article {
  border-radius: 4px;
  width: 320px;
  height: 378px;
  border: solid 1px #87cefa;
  margin: 0px;
}

.legenda {
  color: var(--Textodaslegendas);
  font-size: 12px;
  text-align: center;
}

.tituloPoster {
  color: #87cefa;
  font-size: 20px;
  text-align: center;
}

p {
  color: #fff;
  font-size: 15px;
  padding: 8px;
  text-align: justify;
}

.fotosPicture,
img {
  border-radius: 4px;
  width: 320px;
  height: 200px;
}

.footer {
  background-color: #08081d;
  border-top: #ffffff solid 1px;
  height: 10vh;
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

h4 {
  color: #ffffff;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
